* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk";
  background-color: black;
  color: white;
}

/* FOOTER */
.footer {
  background-color: #000;
  padding: 60px 80px;
}

/* GRID SUPERIOR DO FOOTER */
.footer-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
}

/* TEXTO PRINCIPAL */
.footer-logo p {
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
}

/* COLUNAS */
.footer-column h3 {
  color: #00ff80;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column a,
.footer-column p {
  display: block;
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-column a:hover {
  color: #00ff80;
}

/* LINHA DIVISÓRIA */
.footer hr {
  border: 0;
  border-top: 1px solid rgba(209, 154, 92, 0.3);
  margin: 30px 0;
  color: #000;
}

/* RODAPÉ FINAL */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #111;
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}