* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk";
}

.nav {
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center; /* CENTRALIZA TUDO */
    gap: 60px; /* Espaço entre partes */
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #00ff80;
}

/* MENU CENTRAL */
.nav-center {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px; /* Espaçamento entre links */
}

.nav-center a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-center a:hover {
    color: #00ff80;
    transform: scale(1.1);
}

/* LADO DIREITO */
.nav-end {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-end a {
    text-decoration: none;
    color: white;
}

.button {
    background-color: #ff5d18;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
}
.button:hover {
    background-color: #e54a0f;
    cursor: pointer;
}