@import './header.css';
@import './footer.css';
@import './index.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

